body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    
    
    
}

main{
    display: flex;
}

.navBar{
    width: 100%;
    height: 65px;
    border-bottom: 1px solid grey;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    position: fixed; 
    background-color: white;
}

.logoBox{
    margin: 0;
    padding: 0;
}

#logoImg{
    width: 230px;
    height: auto;
    margin: 0 0 0 100px;
    padding: 0;
}

.iconBox{
    margin: 0px 100px 0px 0px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.iconNav{
    margin: 0;
    padding: 10px;
    font-size: 23px;
    color: grey;
}

.spanNav{
    padding: 10px;
    margin: 0;
    
}

#resumeSpan{
    border-radius: 30px;
    border: 1px solid gray;
    padding: 10px;
    font-size: medium;
    color: black;
}

.accountNav{
    width: 20px;
    padding: 12px;
    margin: 0;
    background-color: green;
    color: white;
    border-radius: 35px;
    text-align: center;
    font-weight: 600;
}






.firstSection{
    border-right: 1px solid gray;
    width: 70%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
   
    
   
}

.sectionButton{
    margin: 70px 100px 30px 100px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: flex-start;
}

.buttonSpan:hover{
    color: black;
    border-bottom: 1px solid black;
}

.buttonSpan{
    color: grey;
    padding: 20px 20px 15px 0px;
    font-weight: 700;
}

.articleBox{
    width: auto;
    height: 250px;
    margin: 50px 100px 50px 100px;
    display: flex;
    flex-direction: row;
}

.articleText{
    width: 100%;
}

.spanDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.blackSpan{
    padding: 0px 5px 0 5px;
    font-weight: bold;
}

.graySpan{
    color: gray;
    font-weight: bold;
}

.titleDiv{
    margin: 0;
    padding: 0;
}

.articleTitle{
    margin: 0;
    padding: 0;
    font-size: xx-large;
    font-weight: bold;
}

.articleP{
    font-size: large;
}

.endArticle{
    display: flex;
    justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
}

.endSpan{
    font-size: small;
    color: gray;
    padding: 5px;
}

.endIconDiv{
  padding-left: 400px;
}


.iconImg{
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

.imgBox{
    display: flex;
}
    

.articleImg{
    
    padding: 0;
    margin: 0;
}

.figureDiv{
    margin: 0;
    padding: 0 0 0 0;
}


.secondSection{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 100px;
    
}

.twitterBox{
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 60px 50px 60px;
    flex-wrap: wrap;
   
}

.iconDiv{
    display: flex;
    align-items: center;

}

.mediumIcon{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.twitterIcon{
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}

.plusSpan{
    font-size: xx-large;
    display: flex;
    align-items: center;
    color: gray;
    font-size: bold;
}

.textFollowDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.twitterSpan{
    font-size: large;
}

.connectButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 3px;
    width: 180px;
}

.laterDiv{
    margin: 30px;
}

.laterSpan{
    color: gray;
   text-decoration-line: underline;
}

.topics{
    margin: 0px 60px 50px 60px;
    font-size: large;
}

.topicsDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.topicsButton{
    background-color: rgba(223, 222, 222, 0.568);
    border-radius: 20px;
    padding: 10px;
    margin: 8px;
    font-size: large;
}

.followDiv{
    margin: 0px 60px 50px 60px;    
}

.peopleFollow{
    display: flex;
    font-size: large;
    margin: 10px 0 10px 0;
}

.peopleDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 300px;
}

.peopleName{
    padding: 0 0 5px 10px;
    font-size: large;
    font-weight: bold;
}

.peopleDescrip{
    padding: 5px 0 0 10px;
    font-size: small;
    color: gray;
}

.peopleImg{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.followButton{
    border: 1px solid gray;
    padding: 2px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    margin-top: 10px;
}

.savedDiv{
    margin: 0px 60px 50px 60px;
}

.footerDiv{
     margin: 400px 60px 50px 60px;
     height: 100%;
     
}

.footerText{
    display: flex;
    flex-wrap: wrap;
}

.footerLink{
    padding: 20px;
    color: gray;
    text-decoration: none;
}